@using Microsoft.AspNet.Identity
@model SeguridadWebv2.Models.ViewModels.TurnosViewModel

@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_LayoutVideoConf.cshtml";
}

    @if (Request.IsAuthenticated)
    {
        <body>
            <div class="col-md-12">
                    @if (User.IsInRole("AllPaciente") || User.IsInRole("Paciente"))
                    {
                            <!-- Side Bar -->
                        <div class="jumbotron">
                            <h1>Subir Archivos</h1>
                            <div class="jumbotron">
                                <form action="~/VideoConferencia/SubirArchivosConsulta" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="renderimages">
                            <button id="getarchivoscompartidos" class="btn btn-success">Mostrar Archivos</button>
                        </div>
                    }
                    else if (User.IsInRole("AllProfesionales") || User.IsInRole("Profesionales") || User.IsInRole("Profesional"))
                    {
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="glyphicon glyphicon-file">
                                            </span>Agregar Anamesis
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <select class="form-control optionanamnesis">
                                                <option value="0">Anamnesis Cardiovascular</option>
                                                <option value="1">Anamnesis Digestiva</option>
                                                <option value="2">Anamnesis Respiratoria</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="renderimages">
                            <button id="getarchivoscompartidos" class="btn btn-success">Mostrar Archivos Compartidos</button>
                        </div>
                    }

                    @*<div class="jumbotron">
                <form action="~/VideoConferencia/SubirArchivosConsulta" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneCompartidoForm">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </form>
            </div>*@
                <!-- Videos -->
                <div class="col-md-8">
                    <div class="row-fluid">
                        <div class="body-content">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Participant</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="subscribers"><div id="publisher"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Instructions</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Click <strong>Start archiving</strong> to begin archiving this session.
                                    All publishers in the session will be included, and all publishers that
                                    join the session will be included as well.
                                </p>
                                <p>
                                    Click <strong>Stop archiving</strong> to end archiving this session.
                                    You can then go to <a href="/Archive/List">past archives</a> to
                                    view your archive (once its status changes to available).
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>When</th>
                                            <th>You will see</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: middle;">El archivo ah comenzado</td>
                                            <td><img src="/Content/Images/archiving-on-message.png"></td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: middle;">El archivo permanece activo</td>
                                            <td><img src="/Content/Images/archiving-on-idle.png"></td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: middle;">El archivo está inactivo</td>
                                            <td><img src="/Content/Images/archiving-off.png"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="body-content">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Host</h3>
                                    </div>
                                    <div class="panel-body">
                                        @*<div id="subscribers"></div>
                                        <div id="publisher"></div>*@
                                        @*<div id="otEmbedContainer" style="width:800px; height:640px"></div>
                                        <script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=b21148ba-a7d5-44f5-b147-620932139b9f"></script>*@
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-danger start">Start archiving</button>
                                        <button class="btn btn-success stop">Stop archiving</button>
                                    </div>
                                </div>
                            </div>

                            <div id="renderimages">
                                <button id="getarchivoscompartidos" class="btn btn-success">Mostrar Archivos</button>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.Especialista.Id)
                @Html.HiddenFor(model => model.Paciente.Id)
                @Html.HiddenFor(model => model.RelacionId)
                <!-- Footer -->
                <hr>
            </div>
        </body>
    }
    @*<div class="wrapper">
            <div class="cell">
                <div id="holder">
                    <div class="digits"></div>
                </div>
            </div>
        </div>
        </body>
    *@
    @section Scripts {
        @Scripts.Render("~/bundles/signalr")
        @Scripts.Render("~/signalr/hubs")
<script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"> </script>
<script src="//static.opentok.com/v2/js/opentok.min.js"></script>
<script type="text/javascript">
        @*var session = OT.initSession("@ViewBag.sessionId"),
           publisher = OT.initPublisher("@ViewBag.apiKey", document.querySelector("#publisher")),
           subscribers = document.querySelector("#subscribers"),
           archiveID = null;

        var connectionCount;
        session.on({
            connectionCreated: function (event) {
                connectionCount++;
                if (event.connection.connectionId != session.connection.connectionId) {
                    console.log('Otro Cliente se ha conectado. ' + connectionCount + ' total.');
                }
            },
            connectionDestroyed: function connectionDestroyedHandler(event) {
                connectionCount--;
                console.log('Un Cliente se ha desconectado. ' + connectionCount + ' total.');
            }
        });

        session.connect("@ViewBag.apiKey", "@ViewBag.token", function (err, info) {
            if (err) {
                alert(err.message || err);
                console.log("Fallo la conexion.");
            } else {
                session.publish(publisher);
                console.log('Tienes que conectar a una session.');
            }
        });

        session.on('streamCreated', function (event) {
            var el = document.createElement("div");
            var subscriberOptions = { testNetwork: true };
            subscribers.appendChild(el);
            session.subscribe(event.stream, el);
        });*@

    @*var session = OT.initSession("@ViewBag.sessionId"),
        publisher = OT.initPublisher("publisher");

            session.connect(apiKey, token, function (err, info) {
                if (err) {
                    alert(err.message || err);
                }
                session.publish(publisher);
            });

            session.on('streamCreated', function (event) {
                session.subscribe(event.stream, "subscribers", { insertMode: "append" });
            });*@


    // Initialize an OpenTok Session object
    var session = TB.initSession("@ViewBag.sessionId");

    // Initialize a Publisher, and place it into the element with id="publisher"
    var publisher = TB.initPublisher("@ViewBag.apiKey", document.querySelector("#publisher"));

    // Attach event handlers
    session.on({
        // This function runs when session.connect() asynchronously completes
        sessionConnected: function (event) {
            // Publish the publisher we initialzed earlier (this will trigger 'streamCreated' on other
            // clients)
            session.publish(publisher);
        },

        // This function runs when another client publishes a stream (eg. session.publish())
        streamCreated: function (event) {
            // Create a container for a new Subscriber, assign it an id using the streamId, put it inside
            // the element with id="subscribers"
            var subContainer = document.createElement('div');
            subContainer.id = 'stream-' + event.stream.streamId;
            document.getElementById('subscribers').appendChild(subContainer);

            // Subscribe to the stream that caused this event, put it inside the container we just made
            session.subscribe(event.stream, subContainer);
        }

    });

    // Connect to the Session using the 'apiKey' of the application and a 'token' for permission
    session.connect(apiKey, token);

        session.on('archiveStarted', function (event) {
            archiveID = event.id;
            console.log("ARCHIVE STARTED");
            $(".start").hide();
            $(".stop").show();
        });

        session.on('archiveStopped', function (event) {
            archiveID = null;
            console.log("ARCHIVE STOPPED");
            $(".start").show();
            $(".stop").hide();
            enableForm();
        });

        //$(document).ready(function () {
        //    $(".start").click(function (event) {
        //        $.get("/Archive/Start");
        //    }).show();

        //    $(".stop").click(function (event) {
        //        $.get("/Archive/Stop/" + archiveID);
        //    }).hide();
        //});

        $(document).ready(function () {
            $(".start").click(function (event) {
                var options = $(".archive-options").serialize();
                disableForm();
                $.post("/Archive/Start", options).fail(enableForm);
            }).show();
            $(".stop").click(function (event) {
                $.get("/Archive/Stop/" + archiveID);
            }).hide();
        });

        function disableForm() {
            $(".archive-options-fields").attr('disabled', 'disabled');
        }

        function enableForm() {
            $(".archive-options-fields").removeAttr('disabled');
        }

</script>

        <script type="text/javascript">

            $('.optionanamnesis').on('change', function () {
                var ok = $(this).val();
                console.log(ok);
                $.ajax({
                    type: "GET",
                    url: "/VideoConferencia/PartialCreateAmenite",
                    data: { amenite: $(this).val() },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $('#renderimages').html(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            });

            function FilesSharedViewModel() {
                var IdFileSharedRelacion = "";
                var Fecha = "";
                var Estado = true;
                var Success = true;
                var FromUser = 0;
                var ToUser = 0;
                var IdFile = 0;
                var IdRelacion = 0;
            };

            Dropzone.options.dropzoneForm = {
                maxFiles: 50,
                init: function () {
                    this.on("maxfilesexceeded", function (data) {
                        var res = eval('(' + data.xhr.responseText + ')');
                    });
                    this.on("success", function (file, archivo) {

                        if (archivo != null) {

                            console.log(archivo);
                            var resultado = JSON.stringify(archivo, ['IdFile']);
                            console.log(resultado);
                        }
                        //var response = jQuery.parseJSON(archivo);
                        //console.log(response);
                    });


                    this.on("addedfile", function (file) {
                        // Create the remove button

                        var removeButton = Dropzone.createElement("<a class='btn btn-danger'><i class='fa fa-trash-o' aria-hidden='true'></i>Eliminar</a>");
                        var compartirarchivo = Dropzone.createElement("<a class='btn btn-primary'><i class='fa fa-share' aria-hidden='true'></i>Compartir</a>");

                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            _this.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                        });

                        compartirarchivo.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
                            // Remove the file preview.
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                            var vm = new FilesSharedViewModel();
                            vm.IdRelacion = $('#RelacionId').val(),
                            vm.IdFileSharedRelacion = "";
                            vm.Fecha = "";
                            vm.Estado = true;
                            vm.Success = true;
                            vm.FromUser = $('#Paciente_Id').val(),
                            vm.ToUser = $('#Especialista_Id').val(),
                            vm.IdFile = 1;

                            $.ajax({
                                type: "POST",
                                url: "/VideoConferencia/UploadFilesSharedPaciente",
                                dataType: "json",
                                data: vm,
                                success: function (d) {
                                    if (d.success == true)
                                        //window.location = "index.html";
                                        //console.log(data);
                                        console.log(d.archivo);
                                    else { }
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    // TODO: Show error
                                }
                            });
                        });
                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        file.previewElement.appendChild(compartirarchivo);
                    });

                    this.on("complete", function (file) {
                        //if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        //    var id = $('#RelacionId').val();
                        //    $.ajax({
                        //        type: "GET",
                        //        url: "/VideoConferencia/MisArchivosCompartidos",
                        //        data: id,
                        //        success: function (d) {
                        //            if (d.success == true)
                        //                console.log(d);
                        //            else { }
                        //        },
                        //        error: function (xhr, textStatus, errorThrown) {
                        //            // TODO: Show error
                        //        }
                        //    });
                        //}
                    });

                    //this.on("queuecomplete", function (file) {
                    //}
                    $('#getarchivoscompartidos').on('click', function () {
                        $.ajax({
                            type: "GET",
                            url: "/VideoConferencia/MisArchivosCompartidos",
                            data: { id: $('#RelacionId').val() },
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                $('#renderimages').html(data);
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                alert(textStatus);
                            }
                        });
                    });
                }
            };

            Dropzone.options.dropzoneCompartidoForm = {
                init: function () {
                    var thisDropzone = this;
                    $.ajax({
                        type: "GET",
                        url: "/VideoConferencia/MisArchivosCompartidos",
                        data: { id: $('#RelacionId').val() },
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            $.each(data.Data, function (index, item) {
                                //// Create the mock file:
                                var mockFile = {
                                    name: item.AttachmentID,
                                    size: 12345
                                };

                                // Call the default addedfile event handler
                                thisDropzone.emit("addedfile", mockFile);

                                // And optionally show the thumbnail of the file:
                                thisDropzone.emit("thumbnail", mockFile, item.Path);

                                // If you use the maxFiles option, make sure you adjust it to the
                                // correct amount:
                                //var existingFileCount = 1; // The number of files already uploaded
                                //myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount;
                            });
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                }
            };
        </script>
    }

    @*<script>*@
    @*$(function(){
          $(".digits").countdown({
            image: "/Content/img/countdown/digits.png",
            format: "hh:mm:ss",
            endTime: '@ViewBag.FechaFin'
          });
        });*@
    @*</script>*@


    @*<body>
            <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
            <script charset="utf-8">
              var apiKey = '45760492';
              var sessionId = '2_MX40NTc2MDQ5Mn5-MTQ4NTk5MTkwMDY4NH5lNCsrU1d5eW54QTBRbTdXTnVHYVYrY1J-fg';
              var token = 'YOUR-TOKEN';
              var session = OT.initSession(apiKey, sessionId)
                .on('streamCreated', function(event) {
                  session.subscribe(event.stream);
                })
                .connect(token, function(error) {
                  var publisher = OT.initPublisher();
                  session.publish(publisher);
                });
            </script>
        </body>*@

    @*<!doctype html>
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <title>OpenTok Hello World</title>
            <script src="//static.opentok.com/v2/js/opentok.min.js"></script>
            <script type="text/javascript">
                var apiKey = '@ViewBag.ApiKey';
                var sessionId = '@ViewBag.SessionId';
                var token = '@ViewBag.Token';
            </script>
            <script src="~/Scripts/opentokinit.js"></script>
        </head>
        <body>
            <h2>Hello, World!</h2>
            <div id="publisher"></div>
            <div id="subscribers"></div>
        </body>
        </html>*@