@model SeguridadWebv2.Models.ViewModels.DashboardEspecialistaVM

@if (Model.TurnosViewModel.Count() > 0)
{
    <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Mis Turnos</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Día</th>
                                    <th>Hora Inicio</th>
                                    <th>Hora Fin</th>
                                    <th>Precio</th>
                                    <th>Precio</th>
                                    <th>Paciente</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TurnosViewModel)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Dia)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HoraFin)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EstadoTurno)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FullNamePacienteTurno)</td>
                                        <td><a href="@Url.Action("GetDetalleReserva", "Reserva", new { id = item.IdTurno })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok-circle"></span> Ver Detalle</a></td>
                                        <td><a href="@Url.Action("Iniciar", "VideoConferencia", new { id = item.IdTurno })" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-facetime-video"></span>VideoConferencia</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="@Url.Action("", "")" class="btn btn-sm btn-info btn-flat pull-right">Ver Todos mis Turnos</a>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
            

            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Listado de Pacientes</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-danger"># Nuevos Pacientes</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        @foreach (var item in Model.TurnosViewModel.OrderByDescending(x => x.Dia))
                        {
                        <li>
                            <img src="@Url.Content(@item.Paciente.ImagenPaciente)" class="img-responsive" alt="@item.Paciente.Nombre">
                            <a class="users-list-name" href="#">@item.FullNamePacienteTurno</a>
                            <span class="users-list-date">Ultima vez: @item.Dia</span>
                        </li>
                        }
                    </ul>
                </div>
            </div>
                </div><!-- /.col -->
                <!--FIN LATEST ORDER-->
                <div class="col-md-4">
                    @*<div class="col-md-4">
                        @Html.Partial("~/Views/Reportes/_CountTurnosEspecialistaPieChart.cshtml")
                    </div>*@

                    <!-- solid sales graph -->
                    <div class="box box-solid bg-teal-gradient">
                        <div class="box-header">
                            <i class="fa fa-th"></i>
                            <h3 class="box-title">Consultas Mensuales</h3>
                            <div class="box-tools pull-right">
                                <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body border-radius-none">
                            <div class="chart" id="line-chart" style="height: 250px;"></div>
                        </div><!-- /.box-body -->
                        <div class="box-footer no-border">
                            <div class="row">
                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                    <input type="text" class="knob" data-readonly="true" value="@Model.TurnosViewModel.Count" data-width="60" data-height="60" data-fgColor="#39CCCC">
                                    <div class="knob-label">Turnos Asignados</div>
                                </div><!-- ./col -->
                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                    <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">
                                    <div class="knob-label">Comentarios Positivos</div>
                                </div><!-- ./col -->
                                <div class="col-xs-4 text-center">
                                    <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">
                                    <div class="knob-label">Valoracion Consultas</div>
                                </div><!-- ./col -->
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                    <!-- Calendar -->
                    <div class="box box-solid bg-green-gradient">
                        <div class="box-header">
                            <i class="fa fa-calendar"></i>
                            <h3 class="box-title">Calendario Turnos</h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <!-- button with a dropdown -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Agregar un nuevo turno</a></li>
                                        <li><a href="#">Modificar un horario</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Ver el Calendario</a></li>
                                    </ul>
                                </div>
                                <button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div><!-- /. tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            <!--The calendar -->
                            <div id="calendar" style="width: 100%"></div>
                        </div><!-- /.box-body -->
                        <div class="box-footer text-black">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Progress bars -->
                                    <div class="clearfix">
                                        <span class="pull-left">Task #1</span>
                                        <small class="pull-right">90%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                    </div>

                                    <div class="clearfix">
                                        <span class="pull-left">Task #2</span>
                                        <small class="pull-right">70%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                                    </div>
                                </div><!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="clearfix">
                                        <span class="pull-left">Task #3</span>
                                        <small class="pull-right">60%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                                    </div>

                                    <div class="clearfix">
                                        <span class="pull-left">Task #4</span>
                                        <small class="pull-right">40%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.box -->

                </div>
            </div>
            }
